.elements {
    min-width: 282px;
    max-width: 882px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(282px, 1fr) );
    grid-template-rows: repeat(2, 1fr);
    margin: 47.25px auto 66px;
    grid-gap: 18px;
}