.popup__close-button {
    background-image: url(../../../images/Close-Icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: none; 
    background-color: transparent;
    position: absolute;
    width: 41px;
    height: 41px;
    left: 99%;
    top: -11%;
}

.popup__close-button:hover {
    background-image: url(../../../images/Close-Grey.svg);
    cursor: pointer;
}